*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* #cv{
    border: 1px solid black;
    margin: 50px 200px;
} */
#header{
    background-color: orange;
    height: auto;
    position: relative;
    display: flex;
    border-bottom: 1px solid black;
}
#image{
    width: 300px;
    border: 1px dashed black;
    height: 300px;
    margin: 50px 50px;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#user{
    font-size: 250px;
    
}
#Information{
    width: 550px;
    position: absolute;
    margin-top: 35px;
    right: 100px;
    
}
#Input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 550px;
}
#middle{
    display: flex;
    position: relative;
    margin: 20px 35px;
    flex-direction: column;
    justify-content: space-between;
}
#about{
    width: auto;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}
#education{
    margin-top: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

#select{
    width: 400px;

}
#edu_block{
    display: flex;
    position: relative;
    left: 30%;
    justify-content: space-between;
    width: 50%;
    flex-direction: column;
    
}
#edu_block_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#edu_block_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.dates{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    height: 35px;
}

.dates label{
    display: block;
}
#Work{
    margin-top: 20px;
    position: relative;
    border-bottom: 1px solid black;

}
#work-icon{
    display: flex;
    flex-direction: row;
    /* width: 120px; */
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
#Work-close{
    font-size: 30px;
    cursor: pointer;
    position: relative;
    /* left: 45%; */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
}
#Work-plus{
    font-size: 30px;
    /* left: 45%; */
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
}
#lunguage{
    margin-top: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}
.lun_area{
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    overflow-inline: auto;
    flex-wrap: wrap;

    
    /* bottom: 200px; */
    
}
.lun-area{
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-between;
}
.lun{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 470px;
    align-items: center;
}
#lunguage input{
    width: 400px;
}
#lun-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50px;
}
#lun-plus{
    cursor: pointer;
}
#lun-close{
    cursor: pointer;
}
/*  */
#specs{
    margin-top: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}
#spe-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50px;
}
.spec_area{
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    overflow-inline: auto;
    flex-wrap: wrap;
    /* bottom: 200px; */
    
}
.spec-area{
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-between;
}
.special{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 470px;
    align-items: center;
}
#specs input{
    width: 400px;
}
#spe-plus{
    cursor: pointer;
}
#spe-close{
    cursor: pointer;
}
/*  */

#Certificate{
    margin-top: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    
}
#Cer-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50px;
}
#Certificate input{
    width: 400px;
}
.cer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 470px;
}
#cer-plus{
    cursor: pointer;
}
#cer-close{
    cursor: pointer;
}
.cer_area{
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    overflow-inline: auto;
    flex-wrap: wrap;    
}
#Submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
@media screen and (max-width:767px) {
    #header{
        display: flex;
        flex-direction: column;
        background-color: orange;
        width: 100%;
        height: auto;
        margin: auto;
        padding: auto;
        justify-content: center;
        justify-items: center;
    
    }
    #image{
        padding: auto;
        margin: auto;
    }
    #user{
        font-size: 150px;
    }
    #Information{
        position: relative;
        width: 100%;
        margin: auto;
        display: flex;
        padding: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right:auto;
    }
    #Input{
        display: flex;
        flex-direction: column;

        width: 50%;
        padding: auto;
        margin: auto;

    }
    #email{
        padding: auto;
        margin: auto;
        width: 50%;
    }
    #phone{
        margin: auto;
        padding: auto;
        width: 50%;
    }
    #address{
        margin: auto;
        padding: 0 auto;
        width: 50%;
    }
    #image{
        justify-content: center;
        align-items: center;
    }
    #lunguage{
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
    .lun{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #lunguage input{
        width: auto;
    }
    #specs input{
        width: auto;
    }
    #Certificate input{
        width: auto;
    }
    .special{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .cer{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #education{
        display: flex;
        flex-direction: column;
    }
    #edu_block{
        display: flex;
        flex-direction: column;
        width: auto;
        left: auto;
    }
    #edu_block_1{
        display: flex;
        flex-direction: column;
    }
    .dates{
        width: 100%;
        margin-top: 20px;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){
    #header{
        display: flex;
        flex-direction: column;
        background-color: oranges;
        width: 100%;
        height: auto;
        margin: auto;
        padding: auto;
        justify-content: center;
        justify-items: center;
        
    }
    #image{
        padding: auto;
        margin: auto;
    }
    #Information{
        position: relative;
        width: auto;
        margin: auto;
        /* display: flex; */
        padding: auto;
        /* flex-direction: row; */
        justify-content: center;
        align-items: center;
        right:auto;
    }
}